static/artifacts/transformation-advisor-updater/opt/IBM/WebSphere/AppServer/properties/version/dtd/product.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Copyright IBM Corp. This is the DTD For the WebSphere product version data 
files that contain product installation information. -->


<!ELEMENT product (id, version, build-info)>
<!ATTLIST product name CDATA #REQUIRED>

<!ELEMENT version (#PCDATA)>

<!ELEMENT id (#PCDATA)>

<!ELEMENT build-info EMPTY>
<!ATTLIST build-info
    date CDATA #REQUIRED
    level CDATA #REQUIRED>
	
