static/artifacts/transformation-advisor-updater/opt/IBM/WebSphere/AppServer/profiles/Dmgr01/config/cells/prplndmsrvr1Cell01/wim/model/wimdatagraph.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  Begin Copyright

  Licensed Materials - Property of IBM

  Virtual Member Manager

  (C) Copyright IBM Corp. 2005 All Rights Reserved.

  US Government Users Restricted Rights - Use, duplication or
  disclosure restricted by GSA ADP Schedule Contract with IBM Corp.

  @(#) WIMBASE/ws/code/wim.core/model/wimdatagraph.xsd, wim.base, VMMX.WIMBASE, 200808132000 1.1 06/05/30 13:56:33

  End Copyright
-->
<xsd:schema targetNamespace="http://www.ibm.com/websphere/wim" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore" xmlns="http://www.ibm.com/websphere/wim" ecore:nsPrefix="wim" ecore:package="com.ibm.websphere.wim.model"  version="1.0" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="xml.xsd"/>
  <xsd:include schemaLocation="wimdomain.xsd"/>
  <xsd:include schemaLocation="wimschema.xsd"/>
  <xsd:element name="Root" type="RootType"/>
  <xsd:complexType name="RootType">

    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="contexts" type="Context"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="entities" type="Entity"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="controls" type="Control"/>
      <xsd:element ref="schema" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
    <xsd:attribute name="validated" type="xsd:boolean" default="false"/>
  </xsd:complexType>

  <!-- Super type of all controls. Controls are used to specify request information. -->
  <xsd:complexType name="Control" abstract="true">
    <xsd:sequence/>
  </xsd:complexType>

  <xsd:complexType name="ExternalNameControl">
    <xsd:complexContent>
      <xsd:extension base="Control">
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="CheckGroupMembershipControl">
    <xsd:complexContent>
      <xsd:extension base="Control">
        <xsd:attribute name="level" type="xsd:int" default="1" />
        <xsd:attribute name="inGroup" type="xsd:boolean" default="false" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <!-- The control specifing whether or not deleting descendants if the entity to be delete has descendants -->
  <xsd:complexType name="DeleteControl">
    <xsd:complexContent>
      <xsd:extension base="Control">
        <xsd:attribute name="deleteDescendants" type="xsd:boolean" default="false"/>
        <xsd:attribute name="returnDeleted" type="xsd:boolean" default="false"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
	
  <!-- The control specifing the information used for paged search -->
  <xsd:complexType name="PageControl">
    <xsd:complexContent>
      <xsd:extension base="Control">
        <xsd:attribute name="size" type="xsd:int"/>
        <xsd:attribute name="cookie" type="xsd:hexBinary"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <!-- The control containing the returned information from paged/sorted search -->
  <xsd:complexType name="PageResponseControl">
    <xsd:complexContent>
      <xsd:extension base="Control">
        <xsd:attribute name="cookie" type="xsd:hexBinary"/>
        <xsd:attribute name="totalSize" type="xsd:int"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

        
  <!-- Specify the attribute names which can be used for returning or sorting -->
  <xsd:complexType name="PropertyControl">
    <xsd:complexContent>
      <xsd:extension base="Control">
        <xsd:sequence>
          <xsd:element name="properties" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element name="contextProperties" minOccurs="0" maxOccurs="unbounded">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="xsd:string">
                  <xsd:attribute ref="xml:lang" />
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
					
          <!--xsd:element ref="contextProperties" maxOccurs="unbounded"/-->
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

   
  <!-- Specify the information used for sorted search -->
  <xsd:complexType name="SortKeyType">
    <xsd:sequence>
      <xsd:element name="propertyName" type="xsd:string"/>
      <xsd:element name="ascendingOrder" type="xsd:boolean" default="true"/>
    </xsd:sequence>
  </xsd:complexType>
	
  <!-- Specify the information used for sorted search -->
  <xsd:complexType name="SortControl">
    <xsd:complexContent>
      <xsd:extension base="Control">
        <xsd:sequence>
          <xsd:element name="sortKeys" type="SortKeyType" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element name="locale" type="xsd:language" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <!-- Specify the information used for base search -->
  <xsd:complexType name="SearchControl">
    <xsd:complexContent>
      <xsd:extension base="PropertyControl">
        <xsd:sequence>
          <xsd:element name="searchBases" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
        <xsd:attribute name="countLimit" type="xsd:int" />
        <xsd:attribute name="searchLimit" type="xsd:int" />
        <xsd:attribute name="timeLimit" type="xsd:int" default="0"/>
        <xsd:attribute name="expression" type="xsd:string"/>
        <xsd:attribute name="returnSubType" type="xsd:boolean" default="true"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <!-- Specify the information used for search response -->
  <xsd:complexType name="SearchResponseControl">
    <xsd:complexContent>
      <xsd:extension base="Control">
        <xsd:attribute name="hasMoreResults" type="xsd:boolean"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
	
  <!-- Specify the hierachy information used in ancestor, descendant, group member and group membership controls.-->
  <xsd:complexType name="HierarchyControl">
    <xsd:complexContent>
      <xsd:extension base="SearchControl">
        <xsd:attribute name="level" type="xsd:int" default="1" />
        <xsd:attribute name="treeView" type="xsd:boolean" default="false" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="AncestorControl">
    <xsd:complexContent>
      <xsd:extension base="HierarchyControl">
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="DescendantControl">
    <xsd:complexContent>
      <xsd:extension base="HierarchyControl">
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="GroupControl">
    <xsd:complexContent>
      <xsd:extension base="HierarchyControl">
        <xsd:attribute name="modifyMode" type="xsd:int" default="1" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="GroupMembershipControl">
    <xsd:complexContent>
      <xsd:extension base="GroupControl">
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="GroupMemberControl">
    <xsd:complexContent>
      <xsd:extension base="GroupControl">
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="TypeControl" abstract="true">
    <xsd:complexContent>
      <xsd:extension base="Control">
        <xsd:attribute name="repositoryId" type="xsd:token"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

	

  <xsd:complexType name="DataTypeControl">
    <xsd:complexContent>
      <xsd:extension base="TypeControl">
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="ExtensionPropertyDataTypeControl">
    <xsd:complexContent>
      <xsd:extension base="Control">
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="EntityTypeControl">
    <xsd:complexContent>
      <xsd:extension base="TypeControl">
        <xsd:sequence>
          <xsd:element name="entityTypeNames" type="xsd:token" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="PropertyDefinitionControl">
    <xsd:complexContent>
      <xsd:extension base="TypeControl">
        <xsd:sequence>
          <xsd:element name="propertyNames" type="xsd:token" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
        <xsd:attribute name="entityTypeName" type="xsd:token"/>
        <!-- xsd:attribute name="usage" type="xsd:token"/-->
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="ExtensionPropertyDefinitionControl">
    <xsd:complexContent>
      <xsd:extension base="PropertyDefinitionControl">
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <!-- The control specifying the response of the API calls -->
  <xsd:complexType name="ResponseControl">
    <xsd:complexContent>
      <xsd:extension base="Control">
        <xsd:attribute name="complete" type="xsd:boolean" default="true"/>
        <xsd:attribute name="ticket" type="xsd:string"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <!-- The control specifying the request of the API calls -->
  <xsd:complexType name="RequestControl">
    <xsd:complexContent>
      <xsd:extension base="Control">
        <!-- supported interaction styles are: sync, async, and syncOrAsync -->
        <xsd:attribute name="requiredInteractionStyle" type="xsd:token"/>
        <xsd:attribute name="ticket" type="xsd:string"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <!-- LoginControl -->
  <xsd:complexType name="LoginControl">
    <xsd:complexContent>
      <xsd:extension base="SearchControl">
        <xsd:sequence>
          <xsd:element name="mappedProperties" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <!-- Entitlement Control -->
  <xsd:complexType name="EntitlementControl">
    <xsd:complexContent>
      <xsd:extension base="Control">
        <xsd:sequence>
          <xsd:element name="entitlementAttributes" type="xsd:string"
                        maxOccurs="unbounded" minOccurs="0"/>
          <xsd:element name="entitlementFilter" type="EntitlementType"
                        maxOccurs="1" minOccurs="0"/>
          <xsd:element name="entitlementCheck" type="EntitlementType"
                        maxOccurs="1" minOccurs="0"/>
        </xsd:sequence>
			

        <xsd:attribute name="getExclusively" type="xsd:boolean" default="false"/>
        <xsd:attribute name="getRoles" type="xsd:boolean" default="false"/>
        <xsd:attribute name="getObjectEntitlements" type="xsd:boolean" default="false"/>
        <xsd:attribute name="getAttributeEntitlements" type="xsd:boolean" default="false"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="ViewControl">
    <xsd:complexContent>
      <xsd:extension base="Control">
        <xsd:attribute name="viewName" type="xsd:string"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
	

  <xsd:complexType name="Context">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="1" name="key" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="value" type="xsd:anySimpleType"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
